.main-color-bg {
  background-color: #e04848 !important;
  color: #fff !important;
}

.modal {
  color: #000000 !important;
}

.asin-header {
  background-color: rgb(241, 86, 86);
  height: 50px;
  padding: 0;
  width: 100% !important;
  text-align: center;
  color: #ffffff;
}

div.asin-header{
  color: #ffffff;
  transition: background ease 200ms;
}

div.asin-header a{
  text-decoration: none;
  color: #ffffff;
  width: 100%;
  height: 50px;
  line-height: 50px;
  display: inline-block;
}

div.asin-header:hover{
  background-color: rgb(177, 61, 61);
}

header#header {
  background: #363636;
  color: #ffffff;
  margin: 0 auto 15px auto;
  padding: 15px;
}




li.nav-item.active {
  background: #b33535 !important;
  border-radius: 50px;
  padding-left: 7px;
  padding-right: 7px;
}

.card-header#main-content-bar{
  font-size: 1.3em !important;
}

button.del-kw {
  margin: 0;
  padding: 0 5px;
  cursor: pointer;
}

button.del-asin {
  background: #cc2020 !important;
  border-radius: 30px;
  height: 30px;
  width: 30px;
  padding: 0;
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 26%;
  transform: translate(-50%, -50%);
}

/* PRODUCT TRACKER SIDEBAR CSS */

.sidebar-sticky {
  position: sticky;
  height: calc(100vh - 48px);
  overflow-x: hidden;
  overflow-y: auto;
}

header#header.prodtr {
  margin: 0 auto !important;
}

li.nav-item.prodtr {
  padding: 0px;
  font-size: 1.2em;
}

a.nav-link.prodtr {
  color: #ffffff !important;
  padding: 15px 0 15px 10px;
  transition: background ease-in 150ms;
}

a.nav-link.prodtr:hover {
  background: #363636;
}

div.sidebar-sticky {
  background: #6f7277;
  height: 100%;
}