.main-color-bg {
  background-color: #e04848 !important;
  color: #fff !important;
}

.asin-header {
  background-color: rgb(241, 86, 86);
  height: 50px;
  padding: 0;
  width: 100% !important;
  text-align: center;
  color: #ffffff;
}

div.asin-header{
  color: #ffffff;
  transition: background ease 200ms;
}

div.asin-header a{
  text-decoration: none;
  color: #ffffff;
  display: block;
  width: 100%;
  height: 50px;
  line-height: 50px;
}

div.asin-header:hover{
  background-color: rgb(177, 61, 61);
}

header#header {
  background: #363636;
  color: #ffffff;
  margin: 0 auto 15px auto;
  padding: 15px;
}

li.nav-item.active {
  background: #b33535 !important;
  border-radius: 50px;
  padding-left: 7px;
  padding-right: 7px;
}

.card-header#main-content-bar{
  font-size: 1.3em !important;
}

button.del-kw {
  margin: 0;
  padding: 0 5px;
  cursor: pointer;
}