/*

  Stylesheets for dashboard_active5.php module

*/

#reportrange {
  background: #fff;
  cursor: pointer;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  width: 315px;
}

div.chartWrapper {
  position: relative
}
